*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}
body::before {
    content: "";
    position: fixed;
    width: 125vw;
    height: 125vw;
    background: url(../images/vol1_cover3.webp) ;
    background-repeat: repeat-y repeat-x;
    background-size:cover ;
    opacity: 0.7;
    z-index: -1;
    display: block;
    background-color: rgb(0, 0, 0);
  }

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px 20px;
}
.logo img {
    width: 20vw;
}
.hamburger {
  display: none; /* Hidden by default */
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1001; /* Ensure it appears above other elements */
}
.nav-links {
    display: flex;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: transform 0.3s ease-in-out;
}
.nav-links li {
    display: inline;
    margin-left: 20px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.125rem;
    border-radius: 5px;
    transition: background 0.3s;
}
.nav-links a:hover {
    background: grey;
}
h1{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 2.5vw;
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0vw auto;
    background-color: black;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.volalbum-vertical {
  width: auto;
  height: 30vh;
  max-width: 100%;
  align-items: center;
  margin: 0.5vw;
}
.volalbum-horizontal { 
  width: auto;
  height: 30vh;
  max-width: 100%;
  align-items: center;
  margin: 0.5vw;
}
.covers {
    display: flex;
    justify-content: center; /* Centers images as a group */
    gap: 3vw; /* Controls spacing between images */
    flex-wrap: wrap; /* Ensures responsiveness */
}
.cover-item {
    position: relative;
    display: inline-block;
    width: 25vw; /* Keeps size consistent */
    margin-top: 4vw;
    margin-bottom: 4vw;
}
.cover-item img {
    display: block;
    width: 100%;
    height: auto;
}
.hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}
.cover-item:hover .hover-text {
    opacity: 1;
}
div.vol img{
    width: 45vw;
    height: auto;
    max-width: 100%;
    align-items: center;
    margin-top: 1vw;
}
div.spreads img{
    width: 90vw;
    height: auto;
    max-width: 100%;
}
.about-text {
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    background: rgba(255, 255, 255, 0.8);
    background-size: 1vw 10vh;
    padding: 4vw;
    font-family: "Hepta Slab", serif;
    font-optical-sizing: auto;
    font-style: Bold;
    text-align: center;
    margin: 2vw;
    margin-left: 16vw;
    margin-right: 16vw;
}
a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Footer styles */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 20px;
  }  
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
  } 
input, textarea {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
  }
.contactb {
    background-color: #1e90ff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
.contactb:hover {
    background-color: #0f7ae5;
  }  
.about-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    margin-bottom: 2.5vw;
  }

  /* Carousel styles */ 
.carousel {
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden;
}
.carousel-images {
    display: flex;
    position: relative;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    position: relative;
    flex: 0 0 100%; 
}
.carousel-item img {
    width: 100%;
    height: 85vh;
}
.carouselb {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
#prevBtn { 
left: 10px; 
z-index: 1;
}
#nextBtn { right: 10px; }
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.carousel-item {
    position: relative;
    overflow: hidden;
  }
.carousel-item, .overlay-button, .overlay-button2, .overlay-button3 {
    opacity: 0; /* Start hidden */
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
  }
.carousel-item.active, .overlay-button, .overlay-button2, .overlay-button3 {
    opacity: 1; /* Make the button visible */
    animation: fadeIn 1.5s ease-in; /* Trigger fade-in animation */
  }
.carousel-item img {
    width: 100%; 
    height: auto; 
}
.carousel-item .overlay-button {
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  left: 30px;
  top: 450px;
  animation: fadeIn 1.5s ease-in forwards; 
  z-index: 10;
}
.overlay-button2 {
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  left: 30px;
  top: 50px;
  animation: fadeIn 1.5s ease-in forwards; 
  z-index: 10;
}
.overlay-button3 {
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  left: 30px;
  top: 450px;
  animation: fadeIn 1.5s ease-in forwards; 
  z-index: 10;
}
.carousel-item .overlay-button:hover {
    background-color: #000;
    color: #fff;
  }
.overlay-button2:hover {
    background-color: #000;
    color: #fff;
  }
.overlay-button3:hover {
    background-color: #000;
    color: #fff;
  }

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Black overlay with transparency */
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal .close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.album-container {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.album-container:hover {
  transform: scale(1.05);
}

/* General styles for mobile devices */
@media (max-width: 768px) {
  /*Background image adjustments */
  body {
    background: url(../images/Sub-O_phone_background.webp); /* Use a different background image for mobile */
    background-repeat: repeat-y; /* Prevent tiling */
    background-size: cover; /* Ensure the background covers the entire screen */
    background-position: center; /* Center the background image */
  }
  /* Optional: Adjust the opacity or overlay */
  body::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent overlay */
    z-index: -1;
  }
  
  /* About text adjustments */
  .about-text {
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    background: rgba(255, 255, 255, 0.8);
    background-size: 1vw 10vh;
    padding: 4vw;
    font-family: "Hepta Slab", serif;
    font-optical-sizing: auto;
    font-style: Bold;
    text-align: center;
    margin: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  /* Navbar adjustments */
  .navbar {
    display: flex;
    justify-content: center; /* Center the logo horizontally */
    align-items: center; /* Center items vertically */
    position: relative; /* Allows positioning of the hamburger menu */
    padding: 3rem; /* Adjust padding for mobile */
    height: 7.5vh;
  }
  .logo img {
    position: absolute; /* Position the logo in the center */
    left: 50%; /* Move it to the horizontal center */
    transform: translateX(-50%); /* Adjust for the logo's width */
    width: 35vw; /* Adjust logo size for mobile */
    bottom: 3.5vh; /* Reset top position */
  }
  .hamburger {
    display: block; /* Show hamburger menu on mobile */
    position: absolute; /* Position the hamburger menu */
    right: 20px; /* Align the hamburger menu to the right */
    top: 50%; /* Vertically center the hamburger */
    transform: translateY(-50%); /* Adjust for the hamburger's height */
  }
  .nav-links {
    display: none; /* Hide nav-links by default */
    flex-direction: column; /* Stack links vertically */
    position: absolute;
    top: 100%; /* Place the menu right below the navbar */
    left: 0; /* Align the menu to the left edge of the navbar */
    background-color: black; /* Background color for the menu */
    width: 100%; /* Make the menu span the full width of the screen */
    padding: 20px 0; /* Add padding for spacing */
    z-index: 1000; /* Ensure it appears above other elements */
    gap: 10px; /* Add space between links */
  }
  .nav-links.active {
    display: flex; /* Show nav-links when active */
  }
  .nav-links li {
    margin: 5px 0; /* Add vertical spacing between each link */
  }
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 1rem;
    text-align: center;
  }
  .nav-links a:hover {
    background: grey;
  }

  /* Carousel adjustments */
  .carousel {
    width: 100%; /* Ensure the carousel fits the screen */
    height: 33vh; /* Adjust height for mobile */
  }
  .carousel-images {
    display: flex;
    position: relative;
    transition: transform 0.5s ease-in-out;
  }
  .carousel-item img {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
  }
  .carousel-item .overlay-button {
    top: 170px; /* Adjust position for smaller screens */
    left: 0px;
    font-size: 30px;
  }
  .overlay-button2 {
    font-size: 30px; /* Adjust button size */
    left: 10px;
    top: 10px;
  }
  .overlay-button3 {
    font-size: 30px; /* Adjust button size */
    left: 10px;
    top: 150px;
  }
  .carouselb {
    font-size: 20px; /* Adjust button size */
    padding: 5px 10px;
  }

  /* Covers section adjustments */
  .covers {
    display: flex;
    flex-direction: column; /* Stack covers vertically */
    align-items: center;
    gap: 20px;
  }
  .cover-item {
    width: 50%; /* Increase the size of the cover items */
    margin-bottom: 20px; /* Add spacing between covers */
  }
  .cover-item img {
    width: 100%; /* Reduce image size for mobile */
    height: auto; /* Maintain aspect ratio */
  }

  /* Contact form adjustments */
  .contact-section {
    padding: 20px;
    text-align: center;
  }
  .contact-section form {
    display: flex;
    flex-direction: column; /* Stack form fields vertically */
    gap: 10px;
  }
  .contact-section input,
  .contact-section textarea,
  .contact-section button {
    width: 100%; /* Full width for form elements */
    font-size: 12px; /* Adjust font size */
    align-items: center;
  }
  
  h1 {
    font-size: 5vw; /* Adjust font size for mobile */
    padding: 0vw auto;
  }
}